<!DOCTYPE html>
<html>
    <head>
        <title>{{ .Title }} </title>

        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="assets/css/theme.css" rel="stylesheet">

        <link href="assets/css/bulma.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
        <nav class="">

        </nav>

        {{ template "content" . }}

        <script src="assets/js/jquery-3.4.1.min.js"></script>
        <script src="assets/js/jquery.mask.min.js"></script>

        {{ template "script" . }}
    </body>
</html>