<!DOCTYPE html>
<html>
    <head>
        <title>{{ .Title }} </title>

        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="assets/css/theme.css">

        <link rel="stylesheet" href="assets/css/bulma.min.css" type="text/css">
        <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" type="text/css">
    </head>

    <body>
        <nav class="">

        </nav>

        {{ template "content" . }}

        <script src="assets/js/jquery-3.4.1.min.js"></script>
        <script src="assets/js/jquery.mask.min.js"></script>

        {{ template "script" . }}
    </body>
</html>