@keyframes background-animation-1 {
    0% {
        -ms-transform: skewY(0deg); 
        -webkit-transform: skewY(0deg); 
        transform: skewY(0deg);

        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    50% {
        -ms-transform: skewY(1deg); 
        -webkit-transform: skewY(1deg);
        transform: skewY(1deg);

        -ms-transform: translateX(1);
        -webkit-transform: translateX(1);
        transform: translateX(1);

        -ms-transform: translateY(1);
        -webkit-transform: translateX(1);
        transform: translateX(1);
    }

    100% {
        -ms-transform: skewY(0deg); 
        -webkit-transform: skewY(0deg); 
        transform: skewY(0deg);

        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes skew-forward {
    0% {
        -ms-transform: skewY(0deg); 
        -webkit-transform: skewY(0deg); 
        transform: skewY(0deg);

        -ms-transform: skewX(0deg); 
        -webkit-transform: skewX(0deg); 
        transform: skewX(0deg);

        -ms-transform: translateX(0deg);
        -webkit-transform: translateX(0deg);
        transform: translateX(0deg);
    }
    50% {
        -ms-transform: skewY(10deg); 
        -webkit-transform: skewY(10deg); 
        transform: skewY(10deg);

        -ms-transform: skewX(10deg); 
        -webkit-transform: skewX(10deg); 
        transform: skewX(10deg);

        -ms-transform: translateX(-5deg);
        -webkit-transform: translateX(-5deg);
        transform: translateX(-5deg);
    }
    100% {
        -ms-transform: skewY(0deg); 
        -webkit-transform: skewY(0deg); 
        transform: skewY(0deg);

        -ms-transform: skewX(0deg); 
        -webkit-transform: skewX(0deg); 
        transform: skewX(0deg);

        -ms-transform: translateX(0deg);
        -webkit-transform: translateX(0deg);
        transform: translateX(0deg);
    }
}

@keyframes skew-backward {
    0% {
        -ms-transform: skewY(0deg); 
        -webkit-transform: skewY(0deg); 
        transform: skewY(0deg);

        -ms-transform: skewX(0deg); 
        -webkit-transform: skewX(0deg); 
        transform: skewX(0deg);

        -ms-transform: translateX(0deg);
        -webkit-transform: translateX(0deg);
        transform: translateX(0deg);
    }
    50% {
        -ms-transform: skewY(-10deg); 
        -webkit-transform: skewY(-10deg); 
        transform: skewY(-10deg);

        -ms-transform: skewX(-10deg); 
        -webkit-transform: skewX(-10deg); 
        transform: skewX(-10deg);

        -ms-transform: translateX(5deg);
        -webkit-transform: translateX(5deg);
        transform: translateX(5deg);
    }
    100% {
        -ms-transform: skewY(0deg); 
        -webkit-transform: skewY(0deg); 
        transform: skewY(0deg);

        -ms-transform: skewX(0deg); 
        -webkit-transform: skewX(0deg); 
        transform: skewX(0deg);

        -ms-transform: translateX(0deg);
        -webkit-transform: translateX(0deg);
        transform: translateX(0deg);
    }
}

@keyframes bubble {
    0% { 
        transform: rotate(0);

        transform: skewX(0);
        transform: skewY(0);
    }

    25% {
        transform: skewX(10deg);
        transform: skewY(10deg);
    }

    50% {
        transform: skewX(-10deg);
        transform: skewY(-10deg);
    }

    75% {
        transform: skewX(15deg);
        transform: skewY(15deg);
    }

    100% {
        transform: skewX(0deg);
        transform: skewY(0deg);
    }
}