@font-face {
    font-family: 'Comfortaa';
    src: url(../fonts/Comfortaa-Regular.ttf) format('ttf') format('truetype'),
         url(../fonts/Comfortaa-Light.ttf) format('ttf') format('truetype'),
         url(../fonts/Comfortaa-Bold.ttf) format('ttf') format('truetype');
}

* {
    font-family: 'Comfortaa', cursive !important; 
}

button {
    text-transform: uppercase;
}

/* Components */

.mt-1 {
    margin-top: 3px;
}

.mt-2 {
    margin-top: 5px;
}

.mt-3 {
    margin-top: 10px;
}

.mt-4 {
    margin-top: 15px;
}

.mt-5 {
    margin-top: 25px;
}

.mb-1 {
    margin-bottom: 3px;
}

.mr-1 {
    margin-right: 3px;
}

.ml-1 {
    margin-left: 3px;
}

.pb-1 { 
    padding-bottom: 3px;
}

.pb-2 {
    padding-bottom: 5px;
}

.pb-3 {
    padding-bottom: 10px;
}

.pb-3 {
    padding-bottom: 15px;
}

.pb-5 {
    padding-bottom: 25px;
}

.animate {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

/* Bulma overrides */

input:active, input:focus {
    border-color: #40907F !important;
    box-shadow: 0 0 0 0 !important;
}