@font-face {
    font-family: 'Comfortaa';
    src: url(../fonts/Comfortaa-Regular.ttf) format('ttf') format('truetype'),
         url(../fonts/Comfortaa-Light.ttf) format('ttf') format('truetype'),
         url(../fonts/Comfortaa-Bold.ttf) format('ttf') format('truetype');
}

*,
.input,
.navbar,
.field,
.control,
.button {
    font-family: 'Comfortaa', cursive; 
}

button {
    text-transform: uppercase;
}

/* Components */

.mt-1 {
    margin-top: 3px;
}

.mt-2 {
    margin-top: 5px;
}

.mt-3 {
    margin-top: 15px;
}

.mt-4 {
    margin-top: 25px;
}

.mt-5 {
    margin-top: 40px;
}

.mb-1 {
    margin-bottom: 3px;
}

.mb-2 {
    margin-bottom: 5px;
}

.mb-3 {
    margin-bottom: 10px;
}

.mb-4 {
    margin-bottom: 15px;
}

.mb-5 {
    margin-bottom: 25px;
}

.mr-1 {
    margin-right: 3px;
}

.ml-1 {
    margin-left: 3px;
}

.p-1 {
    padding: 5px !important;
}

.p-2 {
    padding: 5px !important;
}

.p-3 {
    padding: 10px !important;
}

.p-4 {
    padding: 15px !important;
}

.p-5 {
    padding: 25px !important;
}

.pb-1 { 
    padding-bottom: 3px;
}

.pb-2 {
    padding-bottom: 5px;
}

.pb-3 {
    padding-bottom: 10px;
}

.pb-3 {
    padding-bottom: 15px;
}

.pb-5 {
    padding-bottom: 25px;
}

.o-5 {
    opacity: .5;
}

.alert {
    padding: 10px;
    border-radius: 3px;
    text-align: center;
}

.alert.is-info {
    color: white;
    background: rgb(18, 153, 255) !important;
}

.alert.is-warning {
    background: rgb(252, 190, 32) !important;
}

.alert.is-danger {
    color: white;
    background: rgb(201, 42, 42) !important;
}

.alert.is-black {
    color: white;
    background: rgb(60, 60, 60) !important;
}

.d-none {
    display: none;
}

.d-hidden {
    visibility: hidden;
} 

.is-vhcentered {
    height:90vh; 

    display: flex; 
    align-items: center; 
    justify-content: center;
}

.animate {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

/* Bulma and Font Awesome overrides */

input:active, input:focus, .select:active > *, .select:focus > * {
    border-color: #40907F !important;
    box-shadow: 0 0 0 0 !important;
}

.container.is-fluid {
    padding-left: 20px !important;
    padding-right: 0.75rem !important;
}

.button.is-primary {
    background: rgb(81, 185, 163) !important;
}

.button.button.is-primary:hover {
    background: rgb(64, 144, 127) !important;
}

.button.is-info {
    background: rgb(18, 153, 255) !important;
}

.button.button.is-info:hover {
    background: rgb(18, 153, 255) !important;
}

.button.is-warning {
    background: rgb(252, 190, 32) !important;
}

.button.button.is-warning:hover {
    background: rgb(255, 186, 8) !important;
}

.button.is-danger {
    background: rgb(201, 42, 42) !important;
}

.button.button.is-danger:hover {
    background: rgb(208, 0, 0) !important;
}

.button.is-black {
    background: rgb(60, 60, 60) !important;
}

.button.button.is-black:hover {
    background: rgb(60, 60, 60) !important;
}

.fa {
    margin-left: 2px !important;
    margin-right: 2px !important;
}