{{ define "content" }}
<section class="is-vhcentered fade">
    <div id="accessory" class="column is-3-widescreen has-text-centered d-none">
        <div id="accessory-name" class="title">

        </div>
        <div id="accessory-icon" class="mt-3">

        </div>
        <div id="controls" class="level mt-3">
            <div class="level-left">
                <div class="field">
                    <input id="status" type="checkbox" class="switch is-outlined is-warning" checked="checked">
                    <label for="status"> on / off </label>
                </div>
            </div>
            <div class="level-right">
                <div class="column is-fullwidth">
                    <input id="slider" class="slider is-fullwidth" step="1" min="0" max="100" value="50" type="range">
                    <div class="column is-fullwidth">
                        <label id="label-slider" for="slider"></label>
                    </div>
                </div>
                
            </div>
        </div>
        <div id="actions" class="level mt-5">
            <div class="level-left ml-1 mr-1">
                <button class="button is-success" id="accessory-update">
                    Salvar
                </button>
            </div>
            
            <div class="level-right ml-1 mr-1">
                <button class="button is-danger" id="accessory-remove">
                    Remover acessório
                </button>
            </div>
        </div>
    </div>
    <div id="notification" class="alert mt-5 d-hidden">
        
    </div>
</section>
{{ end }}

{{ define "script" }}
    <script>
        var url = document.URL.split("/")
        var id = url[url.length-1]

        var request = axios.get('/v1/object/fetch/' + id)

        let accessory

        request.then(response => {
            var content = response.data.Content
            if (content != null) {
                accessory = new Accessory(content.ID, content.Name, 
                    content.Type)

                $("#accessory-name").text(accessory.name)
                $("#accessory-icon").html(accessory.__type.icon)
                $("#accessory").removeClass('d-none')
                $("#label-slider").text(accessory.__type.property)

                var html = ''
            } else {
                $("#notification").addClass('is-info')
                $("#notification").html('Acessório não encontrado.' +
                    '<i class="far fa-frown-open fa-fw ml-2"></i>')
                $("#notification").removeClass('d-hidden')
            }
        })

        $("#accessory-remove").click(e => {
            var request = accessory.delete()

            request.then(response => {
                if (response.data.Status == 0) {
                    $("#accessory").remove()
                    $("#notification").addClass('is-success')
                    $("#notification").html('O acessório foi removido com'+
                        ' sucesso. <i class="far fa-laugh-wink fa-fw"></i>')
                } else {
                    message = 'Algo de errado aconteceu ao tentar remover o '+ 
                        'acessório. Verifique a conexão de internet'

                    $("#notification").addClass('is-danger')
                    $("#notification").text(message)

                }
            }) 

            request.catch(error => {
                $("#notification").addClass('is-danger')
                $("#notification").text('Algum erro ocorreu ao remover o acessório')

            })

            request.finally(() => {
                $("#notification").removeClass('d-hidden')
            })
        })

        $("#accessory-update").click(e => {
            var request = accessory.update()

            request.then(response => {
                if (response.data.Status == 0) {
                    window.location.replace("/homepage")
                } else {
                    message = 'Algo de errado aconteceu ao tentar atualizar o '+ 
                        'acessório. Verifique a conexão de internet'

                    $("#notification").addClass('is-danger')
                    $("#notification").text(message)

                }
            }) 

            request.catch(error => {
                $("#notification").addClass('is-danger')
                $("#notification").text('Algum erro ocorreu ao atualizar o acessório')
            })

            request.finally(() => {
                $("#notification").removeClass('d-hidden')
            })
        })

    </script>
{{ end }}