{{ define "content" }}
<section class="container is-vhcentered fade">
    <div class="column is-centered is-5-widescreen">
        <div class="has-text-centered mb-5">
            <i class="fa fa-8x fa-user-plus"></i>
        </div>

        <form method="POST" action="/v1/user/invite">
            <div class="field">
                <label for="">Email do usuário</label>
                <input name="email" type="text" class="input" placeholder="rodrigo@gmail.com" required>
            </div>

            <div class="field level-right mt-3">
                <button class="button is-primary animate">
                    Convidar pessoa
                </button>
            </div>
        </form>

        <div id="notification" class="alert mt-5 d-hidden">

        </div>
    </div>
</section>
{{ end }}

{{ define "script" }}
    <script>
        let form = $("form")
    
        form.submit(e => {
            e.preventDefault()

            $("#notification").addClass('d-hidden')
            $("#notification").removeClass('is-success', 'is-danger')

            var email = $("[name=email]").val()

            var request = axios.get('/v1/invite/new', {params: {"email": email}})

            request.then(response => {
                if (response.data.Status == 0) {
                    $("[name=email]").val('')

                    var message = 'O convite para '+ email + 
                        ' foi enviado. Mais alguém?'

                    $("#notification").addClass('is-success')
                    $("#notification").html(message)
                    $("#notification").removeClass('d-hidden')
                }
            })
        })
    </script>
{{ end }}