{{ define "content" }}
<section class="container" style="height:90vh; display: flex; align-items: center; justify-content: center;">
    <div class="column is-centered is-5-widescreen">
        <div class="has-text-centered mb-5">
            <i class="fa fa-10x fa-qrcode"></i>
        </div>

        <form method="POST" action="">
            <div class="field">
                <label for="">Nome do acessório</label>
                <input name="name" type="text" class="input" placeholder="Iluminação sala" required>
            </div>

            <div class="field">
                <label for="">Código do acessório</label>
                <input name="code" type="text" class="input" placeholder="A34D3F" required>
            </div>

            <div class="field">
                <label for="">Tipo do acessório</label>
                <div class="select is-fullwidth">
                    <select name="type">
                        <option value="light">Luz</option>
                        <option value="sound">Som</option>
                        <option value="sensor">Sensor</option>
                        <option value="air-conditioner">Condicionador de ar</option>
                    </select>
                </div>
            </div>

            <div class="field is-pulled-right mt-3">
                <button class="button is-primary animate">
                    Adicionar acessório
                </button>
            </div>
        </form>
    </div>
</section>
{{ end }}

{{ define "script" }}
    <script>
        let form = $("form")
    
        form.submit(e => {
            e.preventDefault()
            
            
        })
    </script>
{{ end }}