{{ define "content" }}
<section class="container is-vhcentered fade">
    <div class="column is-centered is-5-widescreen">
        <div class="has-text-centered mb-5">
            <i class="fa fa-10x fa-qrcode"></i>
        </div>

        <form method="POST" action="/v1/object/add">
            <div class="field">
                <label for="">Nome do acessório</label>
                <input name="name" type="text" class="input" placeholder="Iluminação sala" required>
            </div>

            <div class="field">
                <label for="">Código do acessório</label>
                <input name="code" type="text" class="input" placeholder="A34D3F" required>
            </div>

            <div class="field">
                <label for="">Tipo do acessório</label>
                <div class="select is-fullwidth">
                    <select name="type">
                        <option value="light">Luz</option>
                        <option value="sound">Som</option>
                        <option value="sensor">Sensor</option>
                        <option value="air-conditioner">Condicionador de ar</option>
                    </select>
                </div>
            </div>

            <div class="field level-right mt-3">
                <button class="button is-primary animate">
                    Adicionar acessório
                </button>
            </div>

            <div id="notification" class="alert mt-5 d-hidden">
                
            </div>
        </form>
    </div>
</section>
{{ end }}

{{ define "script" }}
    <script>
        $("form").submit(e => {
            e.preventDefault()

            var id = $("[name=code]").val()
            var name = $("[name=name]").val()
            var type = $("[name=type]").val()

            accessory = new Accessory(id, name, type)

            var request = accessory.insert()

            request.then(response => {
                if (response.data.Status == 0) {
                    $("#notification").addClass("is-success")
                    $("#notification").html('O acessório foi adicionado com'+
                        ' sucesso. <i class="far fa-laugh-wink fa-fw"></i>')
                } else {
                    message = 'Algo de errado aconteceu ao tentar inserir o '+ 
                        'acessório. Verifique a conexão de internet'

                    $("#notification").addClass("is-danger")
                    $("#notification").text(message)

                }
            }) 

            request.catch(error => {
                $("#notification").addClass('is-danger')
                $("#notification").text('Algum erro ocorreu ao inserir o acessório')
            })

            request.finally(() => {
                $("#notification").removeClass('d-hidden')
            })

        })
    </script>
{{ end }}