{{ define "content" }}

<style>
    #menu {
  position: fixed;
}
</style>

<section class="container is-fluid fade">
    
    <div class="columns">
    <div class="column is-one-fifth">
                <aside id="menu" class="menu">
                    <p class="title">Ajuda</p>
                    
                    <p class="menu-label">
                        <a href="#login">Login</a>
                    </p>
                    <p class="menu-label">
                        <a href="#registro">Registro</a>
                    </p>
                    <p class="menu-label">
                        <a href="#acessorio">Acessórios</a>
                    </p>
                    <p class="menu-label">
                        <a href="#config">Configurações</a>
                    </p>
                    <p class="menu-label">
                       <a href="#perfil">Perfil</a> 
                    </p>
                    <p class="menu-label">
                       <a href="#convite">Convites</a> 
                    </p>
                </aside>
            </div>
            
            <div class="column">
                
                <p id="login" class="title is-4">Login</p> 
                    <p>Preencha os campos “Email” e “Senha” e clique no botão “Login”. Verifique se a tecla “Caps Lock” está ativada ou desativada.</p><br>

                <p id="registro" class="title is-4">Registro</p> 
                    <p>Preencha os campos do formulário, todos eles são obrigatórios. Não esqueça de ler os Termos e Condições de Uso e clique no botão “Criar conta” para finalizar o registro.</p><br>

                <p id="acessorio" class="title is-4">Acessórios</p> 
                    <p>Nessa página você poderá adicionar, configurar e remover acessórios da sua casa. Dentre as opções de acessórios estão vários tipos de eletrodomésticos, sistemas de som e iluminação. Coloque um nome para o seu acessório no campo “Nome do acessório”, digite o código de seu acessório em “Código de acessório” e selecione o “Tipo de acessório”. Finalize clicando em “Adicionar acessório”. Clicando em um acessório já adicionado é possível removê-lo no botão “Remover acessório”.</p><br>

                <p id="config" class="title is-4">Configurações</p> 
                    <p>Nesta página você poderá configurar sua casa assim como também os usuários da casa e suas permissões, caso seja administrador.</p>
                    <p>O usuário pode colocar o nome de sua preferência para sua casa. Preencha o campo “Nome da casa” e clique em “salvar” para fazer essa mudança. Para adicionar pessoas a sua casa, clique na caixa “Convidar pessoas”, preencha o campo “Email do usuário” com o e-mail da pessoa que deseja adicionar e clique no botão “Convidar pessoa”.</p>
                    <p>O usuário também pode ver as informações das pessoas que adicionou a sua casa, como também removê-las da casa. Basta clicar na caixa da pessoa que deseja remover e no botão “Remover usuário”.</p><br>
                
                <p id="perfil" class="title is-4">Perfil</p>
                    <p>Está pagina possui todas as configurações da sua conta de usuário. Você pode mudar sua imagem de perfil, seu e-mail e telefone. Para finalizar as mudanças digite sua senha na caixa “senha” e clique no botão “Atualizar”. Você também pode excluir sua conta de usuário caso seja necessário, clicando no botão “Deletar”.</p><br>
                
                <p id="convite" class="title is-4">Convites</p>
                    <p>Nessa página você pode visualizar todos os convites recebidos para o ingresso em outras casas.</p><br>
                    
            </div>
            
        </div>
</section>
{{ end }}

{{ define "script" }}

{{ end }}