{{ define "content" }}
<div class="container is-fluid">
    <div class="columns is-mobile is-multiline" id="acessories">
    </div>

    <div class="columns is-mobile">
        <div class="column is-centered" id="notification">

        </div>
    </div>

    <div class="columns is-centered">
        <div class="column is-4">
            <a href="/add-acessory" class="button is-primary is-uppercase is-fullwidth">
                Adicionar acessório
            </a>
        </div>
    </div>
</div>
{{ end }}

{{ define "script" }}
    <script>
    'use strict'

    let acessories = $("#acessories")
    let data = axios.get('/v1/objects')

    data.then(response => {
        var bulb = '<i class="fa fa-8x fa-lightbulb"></i>'
        var music = '<i class="fa fa-8x fa-music"></i>'
        var air = '<i class="fa fa-8x fa-temperature-low"></i>'
        var sensor = '<i class="fa fa-8x fa-wave-square"></i>'

        if (response.data.Content != null) {
            response.data.Content.forEach(elem => {
                var icon
                var message

                switch (elem.Type) {
                case 1:
                    icon = bulb
                    message = "Intensidade"
                    break
                case 2:
                    icon = music
                    message = "Volume"
                    break
                case 3:
                    icon = sensor
                    message = "Distância"
                    break
                case 4:
                    icon = air
                    message = "Temperatura"
                    break
                }

                var obj = '<div class="column is-2"> <div class="card animate">' +
                    '<a href="/acessory/'+ elem.ID +'" class="has-text-centered">' +
                        '<div class="p-3 has-text-grey" id="object-name">' +
                            elem.Name +
                        '</div>' +
                        '<div class="card-content is-warning" id="object-icon">' +
                            icon +
                        '</div>' +
                    '</a>' +
                    '<div class="has-text-centered p-3">' +
                        '<h6 class="has-text-grey">'+ message +'</h6>' +
                        '<input type="range" min="0" max="100" value="50" class="slider is-fullwidth" step="1">' +
                    '</div></div></div>'

                acessories.append(obj)
            })

        } else {
            var message = '<div class="alert alert-info p-5">Nenhum objeto '+ 
                'encontrado. Adicione alguns e comece a controlar a sua residência.</div>'
            $("#notification").append(message)
        }
    })
    
    data.catch(error => {
        window.alert(error)
    })

    </script>
{{ end }}