{{ define "content" }}
<div class="container is-fluid">
    <div class="columns is-0 is-variable is-mobile is-multiline">

        <!-- Os próximos cards são todos iguais, sendo 8 ao total-->
        <div class="column fth-desktop is-half-mobile ">
            <div class="card m-sides-1">
                <a href=" ">
                    <div class="has-background-grey-lighter ">
                        <div class="card-image is-flex">
                            <figure class="image mt-1 is-128x128">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </div>
                        <footer class="card-footer mt-1">
                            <div class="card-footer-item has-text-grey has-text-centered is-size-6 ">
                                <p>Texto exemplo</p>
                            </div>
                        </footer>
                    </div>
                </a>
            </div>
        </div>

        <div class="column is-one-fifth-desktop is-half-mobile ">
            <div class="card m-sides-1">
                <a href=" ">
                    <div class="has-background-grey-lighter">
                        <div class="card-image is-flex">
                            <figure class="image mt-1 is-128x128">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </div>
                        <footer class="card-footer mt-1">
                            <div class="card-footer-item has-text-grey has-text-centered is-size-6 ">
                                <p>Texto exemplo</p>
                            </div>
                        </footer>
                    </div>
                </a>
            </div>
        </div>

        <div class="column is-one-fifth-desktop is-half-mobile ">
            <div class="card m-sides-1">
                <a href=" ">
                    <div class="has-background-grey-lighter">
                        <div class="card-image is-flex">
                            <figure class="image mt-1 is-128x128">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </div>
                        <footer class="card-footer mt-1">
                            <div class="card-footer-item has-text-grey has-text-centered is-size-6 ">
                                <p>Texto exemplo</p>
                            </div>
                        </footer>
                    </div>
                </a>
            </div>
        </div>

        <div class="column is-one-fifth-desktop is-half-mobile ">
            <div class="card m-sides-1">
                <a href=" ">
                    <div class="has-background-grey-lighter">
                        <div class="card-image is-flex">
                            <figure class="image mt-1 is-128x128">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </div>
                        <footer class="card-footer mt-1">
                            <div class="card-footer-item has-text-grey has-text-centered is-size-6 ">
                                <p>Texto exemplo</p>
                            </div>
                        </footer>
                    </div>
                </a>
            </div>
        </div>

        <div class="column is-one-fifth-desktop is-half-mobile ">
            <div class="card m-sides-1">
                <a href=" ">
                    <div class="has-background-grey-lighter">
                        <div class="card-image is-flex">
                            <figure class="image mt-1 is-128x128">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </div>
                        <footer class="card-footer mt-1">
                            <div class="card-footer-item has-text-grey has-text-centered is-size-6 ">
                                <p>Texto exemplo</p>
                            </div>
                        </footer>
                    </div>
                </a>
            </div>
        </div>

        <div class="column is-one-fifth-desktop is-half-mobile ">
            <div class="card m-sides-1">
                <a href=" ">
                    <div class="has-background-grey-lighter">
                        <div class="card-image is-flex">
                            <figure class="image mt-1 is-128x128">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </div>
                        <footer class="card-footer mt-1">
                            <div class="card-footer-item has-text-grey has-text-centered is-size-6 ">
                                <p>Texto exemplo</p>
                            </div>
                        </footer>
                    </div>
                </a>
            </div>
        </div>

        <div class="column is-one-fifth-desktop is-half-mobile ">
            <div class="card m-sides-1">
                <a href=" ">
                    <div class="has-background-grey-lighter">
                        <div class="card-image is-flex">
                            <figure class="image mt-1 is-128x128">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </div>
                        <footer class="card-footer mt-1">
                            <div class="card-footer-item has-text-grey has-text-centered is-size-6 ">
                                <p>Texto exemplo</p>
                            </div>
                        </footer>
                    </div>
                </a>
            </div>
        </div>

        <div class="column is-one-fifth-desktop is-half-mobile ">
            <div class="card m-sides-1">
                <a href=" ">
                    <div class="has-background-grey-lighter">
                        <div class="card-image is-flex">
                            <figure class="image mt-1 is-128x128">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </div>
                        <footer class="card-footer mt-1">
                            <div class="card-footer-item has-text-grey has-text-centered is-size-6 ">
                                <p>Texto exemplo</p>
                            </div>
                        </footer>
                    </div>
                </a>
            </div>
        </div>



    </div>

    <div class="container is-fullwidth">
        <div class="columns is-centered ">
            <!-- Nova coluna centralizada-->
            <div class="column is-4 ">
                <button class="button  is-fullwidth is-large is-warning has-text-white">
                    <p class="is-one-fifth-desktop is-half-mobile">Adicionar acessório</p>
                </button>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "script" }}

{{ end }}