{{ define "content" }}
<section class="section">
    <div class="columns is-centered">
        <div class="column">
            <h1 class="title">CONFIGURE SUA CASA</h1>

            <form method="POST" action="">
                <div class="field">
                    <div class="label">
                        <label class="label">NOME DA CASA</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded">
                                <input name="name" class="input" type="text" placeholder="Nome da casa">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="field-body">
                        <div class="field is-grouped is-grouped-centered">
                            <div class="control">
                                <button class="button is-primary">
                                    SALVAR
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

                
            <span class="label mt-5">
                PESSOAS
            </span>
            
            <div id="people" class="columns" style="overflow-x: auto">
                
            </div>
            
        </div>
        
        <div class="column">
            <h1 class="title">INSTRUÇÕES</h1>
            <br>
            <p>Nesta página você poderá configurar sua casa
            assim como também os usuários da casa e suas
            permissões, caso seja administrador.</p>
            <br>
            <p>Se você usuário mude seu email, credenciais
            entre outras informações em seu perfil.</p>
            
        </div>
    </div>
    </section>
{{ end }}

{{ define "script" }}
    <script>
        var request = axios.get('/v1/people')
            
        request.then(response => {                
            if (response.data.Content != null) {
                response.data.Content.forEach(person => {
                    $('#people').append(
                    '<div class="column is-3 has-text-centered">'
                        +'<a href="/user-settings/'+ person.ID +'">'
                            +'<div class="card p-5">'
                                +'<div class="card-image">'
                                    +'<figure class="image">'
                                        +'<i class="fa fa-5x fa-user "></i>'
                                    +'</figure>'
                                +'</div>'
                                +'<div class="card-content is-paddingless">'
                                    +'<p class="mt-5 is-size-6">' + person.Name + '</p>'
                                +'</div>'
                            +'</div>'
                        +'</a>'
                    +'</div>'
                    )
                })
            } else {

            }
        })

        $('#people').append(
            '<div class="column is-3 has-text-centered">'
                +'<a href="/invite">'
                    +'<div class="card p-5">'
                        +'<div class="card-image">'
                            +'<figure class="image">'
                                +'<i class="fa fa-5x fa-plus-circle "></i>'
                            +'</figure>'
                        +'</div>'
                        +'<div class="card-content is-paddingless">'
                            +'<p class="mt-5 is-size-6">Convidar pessoas</p>'
                        +'</div>'
                    +'</div>'
                +'</a>'
            +'</div>'
        )
    </script>
{{ end }}