{{ define "content" }}

<section style="height:90vh; display: flex; align-items: center; justify-content: center;">
    <div class="column is-centered is-4-widescreen">
        <div class="has-text-centered" style="display: flex; align-items: center; flex-direction: column">
            <figure class="image is-128x128">
                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
            </figure>
            <h5 class=" is-size-6 has-text-grey" id="user-name">
                ...
            </h5>
        </div>

        <form method="POST" action="/user-settings" class="">
            <div class="field is-full-width">
                <label for="" class="label">Email</label>
                <input class="input" name="username" type="text" placeholder="seu-email@provedor.com" required>
            </div>
                
            <div class="field is-full-width">
                <label for="" class="label">Senha</label>
                <input class="input" name="password" type="password" placeholder="••••••••••••••••••••" required>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <label class="label">Data de Nascimento</label>
                        <p class="control is-expanded">
                            <input name="birth" class="input" type="text" placeholder="15/07/1996">
                        </p>
                    </div>

                    <div class="field">
                        <label class="label">Telefone</label>
                        <p class="control is-expanded">
                            <input name="phone" class="input" type="tel" placeholder="(45) 99921-1235">
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-pulled-right mt-5">
                <button class="button is-primary animate mr-1">
                    Atualizar
                </button>
                <button class="button is-danger animate disabled">
                    Deletar
                </button>
            </div>
        </form>
    </div>
</section>
{{ end }}

{{ define "script" }}

    <script>
        
    </script>

{{ end }}