{{ define "content" }}
<section class="is-vhcentered fade">
    <div class="column is-centered is-4-widescreen">
        <div class="has-text-centered" style="display: flex; align-items: center; flex-direction: column">
            <figure class="image is-128x128">
                <img class="is-rounded" src="" id="profile-image">
            </figure>
            <h5 class=" is-size-6 has-text-grey" id="name">
                
            </h5>
        </div>

        <form method="POST" action="/user-settings" class="mt-5">
            <div class="field is-full-width">
                <label for="" class="label">Email</label>
                <p name="email" type="text" placeholder="seu-email@provedor.com" class="alert is-light"></p>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <label class="label">Data de Nascimento</label>
                        <p class="control is-expanded">
                            <p name="birth" data-mask="00/00/0000" type="text" placeholder="15/07/1996" class="alert is-light"></p>
                        </p>
                    </div>

                    <div class="field">
                        <label class="label">Telefone</label>
                        <p class="control is-expanded">
                            <p name="phone" data-mask="" type="tel" placeholder="(45) 99921-1235" class="alert is-light"></p>
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-pulled-right mt-5">
                <button class="button is-danger animate disabled">
                    Remover usuário
                </button>
            </div>
        </form>
    </div>
</section>
{{ end }}

{{ define "script" }}
    <script>
        function fill(id) {
            let data = axios.get('/v1/user/fetch/' + id)
            
            data.then(response => {
                var name = response.data.Content.Name
                var mail = response.data.Content.Mail
                var phone = response.data.Content.Phone
                var birth = response.data.Content.Birth

                name = name.trim();   

                birth = birth.split("T")[0]
                birth = birth.split("-").reverse().join("/")

                $('#name').text(name)
                $('[name=name]').text(name)
                $('[name=email]').text(mail)
                $('[name=birth]').text(birth)
                $('[name=phone]').text(phone)
                $('[name=phone]').mask('(00) 00000-0000')

            })
            
            data.catch(error => {
                window.alert('Ocorreu um erro ao carregar as informações. Entre' + 
                    ' em contato com o desenvolvedor.')
                console.log(error)
            })
        } 

        var url = document.URL.split("/")
        var id = url[url.length-1]

        fill(id)

        var images = ["rafael.png", "joao.png", "rodrigo.png", "vinicius.png"]
        var index = Math.floor(Math.random()*4)

        $("#profile-image").attr("src", "/assets/img/profiles/" + images[index])
    </script>
{{ end }}